

.store_section{
    padding: 50px 0 0 0;
    width: 100%;
    height: 100%;
    display: flex;

}

.Filters{
    width: 30%;
    border-right: 1px solid black;
}



.products{
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    width: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: center;

}

.products li{
    flex: 0 1 29rem;
    height: 39rem;

    padding: 1rem;
    margin: 1rem;
    border: 1px solid black;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.product img{
    max-height: 30rem;
    max-width: 30rem;
    border-bottom: 1px solid black;
}

.product p{
    font-size: 1.2rem;
}

.product-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.product-price div, .product-price button{
    text-align: center;
    flex:1;

}
.product-price div{
    font-size: 2rem;
}

.button{
    background: white;
    border: 3px solid black;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.2rem;

}

.button:hover{
    background: black;
    color: white;
}
